/* Esther Almira Siverio */
main {
    display: flow-root;
}
.descripcion {
    margin-bottom: 10px;
}

.datos {
    margin-top: 10px;
}

.negrita, .datos ,.descripcion, .intro, .form, div.checkbox, div input[type="submit"]  {
    font-weight: bold;
}


div.informacion {
    float: left;
    width: 43%;
    margin:40px;
}

div.sociales {
    position: relative;
}

img.logo {
    position: relative;
    width: 20%;
    left: 40%;
    margin-top: 60px;
}

.telegram, .twitter, .instagram, .whatsapp, .facebook {
    position: absolute;
    width: 5%;
}

.telegram {
    right: 63%;
    top: 58%;
    width: 4%;
}

.whatsapp {
    right: 57%;
    top: 31%;
}

.twitter {
    right: 47.5%;
    top: 15%;
    width: 4.8%;
}

.instagram {
    right: 38%;
    top: 32%;
    width: 4.5%;
}

.facebook {
    right: 33%;
    top: 56%;
    width: 4.5%;
}

.intro {
    font-size: 2em;
    margin-bottom: 10px;
}

div.formulario {
    float: right;
    width: 40%;
    margin:40px;
}

.form {
    padding: 10px;
    width: 70%;
    margin-bottom: 10px;
}

::placeholder {
    color: black;
}

textarea {
    resize: none;   
}

div.checkbox {
    width: 70%;
}

div.checkbox a.condiciones {
    color: blue;
    text-decoration: underline;
    display: block;
}

div input[type="submit"] {
    color: white;
    background-color: black;
    border-style: hidden;
    float: right;
    border-radius: 50px;
    width: 40%;
    height: 30px;
}

div input[type="submit"]:hover {
    background-color: orange;
}