/* Esther Almira Siverio */
main {
    display: flow-root;
}

div.producto img {
    width: 100%;
}

div.producto {
    float: left;
    width: 22%;
    margin-top: 70px;
    text-align: center;
    margin-left: 35px;
}

div.producto > button {
    background-color: black;
    border-style: hidden;
    margin-top: 10px;
    width: 60%;
}

div.producto > button > a {
    font-weight: bold;
    text-decoration: none;
    color: white;
    font-size: 1.3em;
}

div.producto > button:hover {
    background-color: orange;
}

div.producto p {
    font-weight: bold;
}

p.nombreproducto {
    font-size: 1.5em;
}

div.paginas a {
    float: right;
    background-color: black;
    color: white;
    margin: 10px;
    width: 1.7%;
    text-align: center;
    border-radius: 50%;
    margin-top: 30px;
    text-decoration: none;
}

div.paginas a:hover {
    background-color: orange;
}